<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.Nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @pessoa.Idade %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pessoa.Cpf %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @pessoa.Sexo %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @pessoa.Endereco %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
