<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @veiculo.Marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @veiculo.Modelo %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @veiculo.Ano %>
</p>

<p>
  <strong>Danos:</strong>
  <%= @veiculo.Danos %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @veiculo.Placa %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @veiculo.Cor %>
</p>

<%= link_to 'Edit', edit_veiculo_path(@veiculo) %> |
<%= link_to 'Back', veiculos_path %>
