<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :veiculo_id %>
    <%= form.text_field :veiculo_id %>
  </div>

  <div class="field">
    <%= form.label :Plano %>
    <%= form.text_field :Plano %>
  </div>

  <div class="field">
    <%= form.label :Horas %>
    <%= form.number_field :Horas %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
