<p id="notice"><%= notice %></p>

<p>
  <strong>Veiculo:</strong>
  <%= @usuario.veiculo %>
</p>

<p>
  <strong>Plano:</strong>
  <%= @usuario.Plano %>
</p>

<p>
  <strong>Horas:</strong>
  <%= @usuario.Horas %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
