<%= form_with(model: estacionamento, local: true) do |form| %>
  <% if estacionamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estacionamento.errors.count, "error") %> prohibited this estacionamento from being saved:</h2>

      <ul>
      <% estacionamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Vagas %>
    <%= form.number_field :Vagas %>
  </div>

  <div class="field">
    <%= form.label :Planos %>
    <%= form.text_field :Planos %>
  </div>

  <div class="field">
    <%= form.label :Valor_h %>
    <%= form.number_field :Valor_h %>
  </div>

  <div class="field">
    <%= form.label :Lucro_Bruto %>
    <%= form.number_field :Lucro_Bruto %>
  </div>

  <div class="field">
    <%= form.label :Lucro_Liquido %>
    <%= form.number_field :Lucro_Liquido %>
  </div>

  <div class="field">
    <%= form.label :Gastos %>
    <%= form.number_field :Gastos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
