<p id="notice"><%= notice %></p>

<h1>Estacionamentos</h1>

<table>
  <thead>
    <tr>
      <th>Vagas</th>
      <th>Planos</th>
      <th>Valor h</th>
      <th>Lucro bruto</th>
      <th>Lucro liquido</th>
      <th>Gastos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estacionamentos.each do |estacionamento| %>
      <tr>
        <td><%= estacionamento.Vagas %></td>
        <td><%= estacionamento.Planos %></td>
        <td><%= estacionamento.Valor_h %></td>
        <td><%= estacionamento.Lucro_Bruto %></td>
        <td><%= estacionamento.Lucro_Liquido %></td>
        <td><%= estacionamento.Gastos %></td>
        <td><%= link_to 'Show', estacionamento %></td>
        <td><%= link_to 'Edit', edit_estacionamento_path(estacionamento) %></td>
        <td><%= link_to 'Destroy', estacionamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estacionamento', new_estacionamento_path %>
