<p id="notice"><%= notice %></p>

<p>
  <strong>Vagas:</strong>
  <%= @estacionamento.Vagas %>
</p>

<p>
  <strong>Planos:</strong>
  <%= @estacionamento.Planos %>
</p>

<p>
  <strong>Valor h:</strong>
  <%= @estacionamento.Valor_h %>
</p>

<p>
  <strong>Lucro bruto:</strong>
  <%= @estacionamento.Lucro_Bruto %>
</p>

<p>
  <strong>Lucro liquido:</strong>
  <%= @estacionamento.Lucro_Liquido %>
</p>

<p>
  <strong>Gastos:</strong>
  <%= @estacionamento.Gastos %>
</p>

<%= link_to 'Edit', edit_estacionamento_path(@estacionamento) %> |
<%= link_to 'Back', estacionamentos_path %>
