<%= form_with(model: funcionario, local: true) do |form| %>
  <% if funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Cargo %>
    <%= form.text_field :Cargo %>
  </div>

  <div class="field">
    <%= form.label :Carros_Registrados %>
    <%= form.number_field :Carros_Registrados %>
  </div>

  <div class="field">
    <%= form.label :Salario %>
    <%= form.number_field :Salario %>
  </div>

  <div class="field">
    <%= form.label :Carga_Horaria %>
    <%= form.number_field :Carga_Horaria %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
