<p id="notice"><%= notice %></p>

<p>
  <strong>Cargo:</strong>
  <%= @funcionario.Cargo %>
</p>

<p>
  <strong>Carros registrados:</strong>
  <%= @funcionario.Carros_Registrados %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @funcionario.Salario %>
</p>

<p>
  <strong>Carga horaria:</strong>
  <%= @funcionario.Carga_Horaria %>
</p>

<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
